
.about-page {
  font-family: Arial, sans-serif;
  color: #333;
}

/* Hero section styling */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 50px;
}

.hero-content {
  flex: 1;
  max-width: 50%;
}

.hero-image {
  max-width: 45%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Passion section styling */
.passion-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f0f0f0;
}

.passion-content {
  flex: 1;
  max-width: 50%;
}

.passion-image {
  max-width: 45%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}


.mission-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #f9f9f9;
}

.mission-content {
  flex: 1;
  max-width: 50%;
}

.mission-image {
  max-width: 45%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.about-text  {
  color: #ff6600;
  font-size: 36px;
  margin-bottom: 20px;
}

.about-p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
